doctype html
html(manifest="app.cache")
  head
    title= config.festivalName
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(href="/css/cbc.css", type="text/css", rel="stylesheet")
  body
    #window
      img.loader(src="/img/puff.svg")
      .status-text
      
  script(type="text/html", class="template", data-template-id="loading")
    img.loader(src="/img/puff.svg")
    .status-text
  script(type="text/html", class="template", data-template-id="index")
    #main-menu
      | {{#msg}}
      .msg {{.}}
      | {{/msg}}
      h1= config.festivalName
      .sessions(class=`sessions-${config.sessionOrder.length}`)
        each session in config.sessionOrder
          a(href=`#session[{"colour":"${session}"}]`, class=`session ${session}`) 
            h2= config.sessions[session].title
            .sub= config.sessions[session].subtitle
      .beer-lists
        a(href="#beerlist", class="all-beers-sel") All Beers
        a(href="#leaderbeer", class="leaderbeer-sel") Untappd Leaderboard
      .untappd
        img(src='/img/ut_icon_144.png')
        | {{#untappd_token}}
        .ut-user Logged into Untappd as {{untappd_user}}. 
          a(href='#ut_logout') Log out
        .ut-sync
          a(href='#snapshot') Save snapshot for {{untappd_user}}
          a(href='#loadsnapshot') Load snapshot for {{untappd_user}}
          .expl Saving/loading snapshots requires internet. This will save your starred/checks/ratings to the server so that you can easily load them on another device by connecting it to your untappd account and pressing the "load snapshot" button. If you are just using the one device, you do not need to use snapshots, all your data is saved on that device :).
          .load-ratings Want to automatically check off your checked-in beers? You can do that. You should do it a couple of hours before the festival however, since it is pretty easy to get rate limited after using this feature. You will get rate limited if you have more than 5000 unique checkins. Click <a href="/#unicorn">here</a> to link. Checkin markings will be saved with snapshots for transferring between devices.
        | {{/untappd_token}}
        | {{^untappd_token}}
        a.ut-auth(href="https://untappd.com/oauth/authenticate/?client_id={{untappd_cid}}&response_type=token&redirect_url={{untappd_redir_url}}") Tap here to connect to Untappd.
        .ut-info This will allow you to send checkins to untappd in the background, from the app (if you have internet access).
        | {{/untappd_token}}
      .live-ratings
        | 👥 Live Ratings are turned <strong>{{#live_ratings}}on{{/live_ratings}}{{^live_ratings}}off{{/live_ratings}}</strong>.
        a(href="#toggle_live_ratings") Turn live ratings {{#live_ratings}}off{{/live_ratings}}{{^live_ratings}}on{{/live_ratings}}
        .expl When live ratings are turned on, an average based on ratings from users of this app is generated and updated in real time, as people drink beer and rate. This feature requires internet.
      .info
        p Made by <a href="http://github.com/jonpacker">Jon Packer</a>.
        
  script(type="text/html", class="template", data-template-id="leaderbeer")
    .leaderbeer(class="sess-{{session}}")
      .top-bar
        a(href="#index")
          img(src="/img/chevron-left.svg" width="32")
        h1 Untappd Leaderboard {{#session}}- {{.}} session{{/session}}{{^session}}- Overall{{/session}}
      .leaderbeer-inner
        | {{#hasSessions}}
        strong Available sessions:
          | {{#sessions}}
          a(href='#leaderbeer[{"session":"{{.}}"}]' class="sess-link {{.}}") {{.}}
          | {{/sessions}}
          a(href='#leaderbeer' class='sess-link overall') Overall (all sessions)
        | {{/hasSessions}} 
        .expl This is a leaderboard of all untappd checkins. It tracks all checkins marked at the #{config.festivalName} venue. The ratings are weighted averages, so a beer with 5 ratings of 4.5 will be rated higher than one with 3 ratings of 4.5.

        ul.beer-ranking
          | {{#beerList}}
          li.beer-item(data-bid="{{beer.bid}}", data-rating="{{bayesianRating}}", data-index="{{index}}")
            .ranking {{humanIndex}}
            .beer
              span.beer-name {{beer.beer_name}}
              span.brewery-name {{brewery.brewery_name}}
            .rating {{bayesianRatingFixed}}
            .count {{validCheckinCount}}
            .unweighted {{rollingAverageRatingFixed}}
          | {{/beerList}}
          
  script(type="text/html", class="template", data-template-id="admin")
    #admin
      input(type="password", id="password", name="password")
      div  
        label(for="sessionName") Create Session
        input(type="text", name="session", id="sessionName")
        button(id="createSession") Create
      div
        button(id="clearSession") Clear Session
      div
        label(for="breweries") Add Location to Brewery
        select(name="brewery", id="breweries")
          | {{#breweries}}
          option(value="{{.}}") {{.}}
          | {{/breweries}}
        input(type="text", name="breweryLocation", id="breweryLocation")

  script(type="text/javascript", src="/js/jquery-2.2.3.min.js")
  script(type="text/javascript", src="/js/mustache.min.js")
  script(type="text/javascript", src="/js/app/cbc.js")
  script(type="text/javascript").
    var initData = {
      beers: !{JSON.stringify(beers.beers)},
      breweries: !{JSON.stringify(beers.breweries)},
      superstyles: !{JSON.stringify(beers.superstyles)},
      metastyles: !{JSON.stringify(beers.metastyles)}
    };
    window.LoadIndex = null;
    window.BeerIndex = new Promise(function(res) { window.LoadIndex = res });
    window.BeerApp = initBeerApp(initData);
    fetch('/latest.json').then(function(res) {
      return res.json();
    }).then(function(latest) {
      BeerApp.updateData(latest);
    });
